---
import GoogleIcon from "../components/assets/googleIcon.astro";
import Icon from "../components/assets/icon.astro";
import TextIcon from "../components/assets/textIcon.astro";
import Layout from "../components/layout.astro";
---

<Layout
  title="Gitendar"
  description="Embrace the unexpected and share your musical journey with GrooveShare"
>
  <div
    class="h-screen-dvh flex flex-row items-start justify-between px-200 py-100 animate"
  >
    <a href="/" class="flex flex-row items-center">
      <Icon class="h-16" />
      <TextIcon class="h-36" />
    </a>
  </div>
</Layout>
