---
import GoogleIcon from "../components/assets/googleIcon.astro";
import Icon from "../components/assets/icon.astro";
import TextIcon from "../components/assets/textIcon.astro";
import Layout from "../components/layout.astro";
---

<Layout title="Gitendar" description="Calendar made fun">
  <div
    class="h-screen-dvh flex flex-row items-start justify-between px-200 py-100 animate"
  >
    <a href="/" class="flex flex-row items-center">
      <Icon class="h-16" />
      <TextIcon class="h-36" />
    </a>

    <a
      href="auth"
      class="animate group font-medium flex flex-row items-center justify-center bg-[#56D364] text-[#033A16] px-4 py-2 rounded-2xl hover:bg-[#033A16] hover:text-[#56D364] transition cursor-pointer gap-4 text-xl"
    >
      <GoogleIcon class="h-8" />
      Sign Up
    </a>

    <div class="inline-flex flex-col justify-start items-start gap-6">
      <div class="inline-flex justify-start items-center gap-6">
        <div class="w-[60px] h-[60px] bg-[#56d364] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#2ea043] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#2ea043] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#56d364] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#56d364] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#2ea043] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#56d364] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#56d364] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#2ea043] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
      </div>
      <div class="inline-flex justify-start items-center gap-6">
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#196c2e] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#033a16] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#196c2e] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#033a16] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#151b23] rounded-md"></div>
        <div class="w-[60px] h-[60px] bg-[#196c2e] rounded-md"></div>
      </div>
    </div>
  </div>
</Layout>
