---
import Layout from "../components/layout.astro";
import ChristmasIcon from "../components/assets/christmasIcon.astro";
---

<Layout
  title="Terms of Service - GrooveShare"
  description="Review the terms and conditions governing the use of GrooveShare"
>
  <div
    class="flex flex-col select-text items-start justify-start mx-80 my-40 h-full selection:bg-red selection:text-text"
  >
    <div class="flex flex-col items-start justify-center gap-20">
      <div class="flex flex-col gap-8">
        <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/">
          <ChristmasIcon class="w-40 h-auto" />
        </a>

        <div class="flex flex-col gap-4">
          <p
            class="text-2xl font-medium text-text animate-fade-down"
            style="animation-delay: 0.1s;"
          >
            terms of service
          </p>
          <p class="text-text animate-fade-down" style="animation-delay: 0.1s;">
            last updated: April 25 2023
          </p>
        </div>
      </div>

      <div
        class="text-text flex flex-col gap-10 animate-fade-down"
        style="animation-delay: 0.1s;"
      >
        <p>Thank you for using GrooveShare!</p>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.1s;"
        >
          <h1>1. Introduction</h1>
          <p>
            The following Terms of Service govern your access to and use of our
            services. For the purposes of these Terms, "we", "us" or "ours"
            refers to the GrooveShare team, and "you" refers to the user
            accessing our services. Also, bear in mind these Terms only apply if
            you are a resident of the EU. These Terms are designed to make sure
            everyone understands their rights and responsibilities, how your
            data is handled, and what to expect while using GrooveShare, so
            please take a moment and read them thoroughly. If you have any
            questions or need clarification about these Terms, please contact us
            using our contact info stated on our website.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.2s;"
        >
          <h1>2. Acceptance of Terms</h1>
          <p>
            By accessing or using our app, you acknowledge that you understand
            and agree to follow these Terms of Service. Continued use of
            GrooveShare constitutes your acceptance of any updates or
            modifications to these Terms.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.3s;"
        >
          <h1>3. Eligibility</h1>
          <p>
            To use GrooveShare, you must be at least 13 years old. If you are
            under 16, you may only use our app with the consent of a parent or
            legal guardian in accordance with the EU General Data Protection
            Regulation (GDPR). By creating an account and using GrooveShare, you
            confirm that you meet these age requirements.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.4s;"
        >
          <h1>4. User Registration</h1>
          <p>
            GrooveShare accounts are secured exclusively using passkeys.
            Passkeys allow quick and secure login using your device’s biometrics
            or PIN, without requiring a password. They are stored on your device
            and may sync via Apple iCloud Keychain or Google Password Manager.
            Losing all devices or cloud access will result in permanent account
            loss, so we recommend registering multiple passkeys for safety.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.5s;"
        >
          <h1>5. Privacy & Data Handling</h1>
          <p>
            Please see our&nbsp;
            <a href="/privacy" class="underline hover:text-primary">
              Privacy Policy
            </a>
            &nbsp;for details about how we collect, store, and handle your data.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.6s;"
        >
          <h1>6. User Content & Behavior</h1>
          <p>
            You are exclusively responsible for the posts you make. Do not post
            illegal, harmful, or offensive tracks.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.7s;"
        >
          <h1>7. Termination</h1>
          <p>
            We reserve the right to suspend or terminate accounts that violate
            these terms and may remove any content deemed inappropriate or
            illegal without prior notice.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.8s;"
        >
          <h1>8. Disclaimers & Limitation of Liability</h1>
          <p>
            Use the app at your own risk. Though willing to help, we are not
            responsible for data loss due to lost passkeys or device
            malfunctions.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 0.9s;"
        >
          <h1>9. Intellectual Property</h1>
          <p>
            All content (design, logos, graphics, and other materials provided
            in GrooveShare) are the exclusive property of the GrooveShare team
            or our licensors. This includes, but is not limited to, the app
            itself, its layout, user interface, and branding elements. All
            content on GrooveShare is protected by copyright law. Copying,
            distributing, reproducing, or using any part of our app or content
            without prior written permission is strictly prohibited. The
            GrooveShare name, logo, and any registered trademarks associated
            with our app are our property. You may not use, reproduce, or
            display these trademarks without our explicit written consent.
          </p>
        </div>
        <div
          class="flex flex-col gap-2 animate-fade-down"
          style="animation-delay: 1.0s;"
        >
          <h1>10. Governing Law & Updates to our Terms of Service</h1>
          <p>
            These Terms are governed by [jurisdiction] law. We may update these
            Terms as deemed necessary or if the law requires it and continued
            use of the app constitutes acceptance of any changes.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
