---
const { title, description } = Astro.props;
import "../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:type" content="website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      property="og:image"
      content="https://dimitristerzz.github.io/gitendar/logo.png"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://dimitristerzz.github.io/gitendar/favicon.svg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
