@import "tailwindcss";

@theme {
  --color-text: oklch(100% 0 0);
  --color-background: oklch(0% 0 0);
  --color-green1: oklch(21.98% 0.018 255.71);
  --color-green2: oklch(30.54% 0.083 149.34);
  --color-green3: oklch(46.81% 0.123 147.6);
  --color-green4: oklch(62.22% 0.166 146.22);
  --color-green5: oklch(77.17% 0.188 145.48);
  --height-screen-dvh: 100svh;
  --font-monasans: "MonaSans", "sans-serif";
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: "MonaSans";
  src: url("/MonaSans.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

.animate {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

.color-square {
  opacity: 0;
  transition: background-color 0.5s;
}

.fade-in {
  opacity: 0;
  animation: fadeInGrid 0.5s ease forwards;
}

@keyframes fadeInGrid {
  to {
    opacity: 1;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(
      to right,
      var(--color-primary) 0%,
      var(--color-background) 30%,
      var(--color-background) 70%,
      var(--color-text) 100%
    );
    background-clip: text;
    color: transparent;
  }
}

html {
  background-color: var(--color-background);
  font-family: var(--font-monasans);
}

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.select-text * {
  -webkit-user-drag: auto !important;
  -khtml-user-drag: auto !important;
  -moz-user-drag: auto !important;
  -o-user-drag: auto !important;
  user-select: text !important;
}

::-webkit-scrollbar {
  display: none;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}
